.stories {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.stories__container {
  display: grid;
  /*margin-top: 80px auto 0;  that didn´t work because grid doesn´t behave as a standard block element*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header description"
    "image description"
    "button description";
  gap: 48px 40px;
  width: 100%;
  max-width: 984px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.stories__container-header {
  grid-area: header;
}

.stories__container-image {
  grid-area: image;
}

.stories__container-description {
  grid-area: description;
  padding-top: 140px;
  width: 100%;
  height: auto;
}

.stories__container-button {
  grid-area: button;
}

.stories__header-title {
  width: 460px;
  height: 152px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-align: left;
}

.stories__item {
  max-width: 460px;
  max-height: 460px;
  box-shadow: 8px 8px 10px rgb(0, 0, 0);
}

span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.stories__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0%;
  margin-bottom: 46px;
}

.stories__button {
  width: 289px;
  height: 48px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #0278fe, #003a7b);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600px;
  border: none;
  box-shadow: 6px 6px 10px rgb(0, 0, 0);
}

.stories__button:hover {
  opacity: 0.5;
}
